<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--系统启动时会解析此配置文件,将解析后的结果存储到
Map<String,MappedStatement>,key为namespace+元素id,值为MappedStatement对象,
此对象中存储着解析id对应的元素时,获取到的sql,参数,结果等信息,-->
<mapper namespace="com.cy.jt.system.dao.SysNoticeDao">
    <!--新增公告信息-->
    <insert id="insertNotice" parameterType="com.cy.jt.system.domain.SysNotice">
        insert into sys_notices
        (title,content,type,status,remark,createdUser,modifiedUser,createdTime,modifiedTime)
        values
        (#{title},#{content},#{type},#{status},#{remark},#{createdUser},#{modifiedUser},now(),now())
    </insert>
    <!--更新公告信息-->
    <update id="updateNotice" parameterType="com.cy.jt.system.domain.SysNotice">
         update sys_notices
         set title=#{title},
             content=#{content},
             type=#{type},
             status=#{status},
             remark=#{remark},
             modifiedUser=#{modifiedUser},
             modifiedTime=now()
         where id=#{id}
    </update>

    <!--基于id执行删除操作-->
     <delete id="deleteById">
         delete from sys_notices
         <where>
          <if test="array!=null and array.length>0">
           id in <!--(1,2,3,4,5)-->
           <foreach collection="array" open="(" close=")" separator="," item="id">
               #{id}
           </foreach>
          </if>
           or 1=2
         </where>
     </delete>

     <sql id="selectNoticeId">
         select id,title,content,type,status,remark,createdUser,modifiedUser,createdTime,modifiedTime
         from sys_notices
     </sql>

     <select id="selectById"
             resultType="com.cy.jt.system.domain.SysNotice">
       <include refid="selectNoticeId"/>
       where id=#{id}
     </select>
    <select id="selectNotices"
            resultType="com.cy.jt.system.domain.SysNotice">
        <include refid="selectNoticeId"/>
        <where>
            <if test="title!=null and title!=''">
                title like concat("%",#{title},"%")
            </if>
            <if test="createdUser!=null and createdUser!=''">
              and  createdUser like concat("%",#{createdUser},"%")
            </if>
            <if test="type!=null and type!=''">
                and  type like concat("%",#{type},"%")
            </if>
        </where>
    </select>

</mapper>