<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件，从官方文档复制来的-->
<configuration>
<!--引入外部配置文件-->
    <properties resource="db.properties">
           <property name="username" value="root"/>
            <property name="password" value="root"/>
    </properties>
<!--日志设置-->
    <settings>
<!-- <setting name="logImpl" value="STDOUT_LOGGING"/>-->
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--实体类起别名-->
    <typeAliases>
<!--        <typeAlias type="com.xie.pojo.User" alias="User"/>-->
        <package name="com.xie.pojo"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- 驱动-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
<!--每一个mapper.xml 都需要在mybatis核心配置文件中注册-->
    <mappers>
<mapper resource="com/xie/dao/UserMapper.xml"/>
<!-- <mapper class="com.xie.dao.UserMapper"/>-->
<!--        <package name="com.xie.dao"/>-->
    </mappers>
</configuration>